body{
  background-color: #CAF0F8;
  

}

.bodyLogo{
  margin-top: 150px; /* Top margin */
  margin-right: 10px; /* Right margin */
  margin-bottom: 20px; /* Bottom margin */
  margin-left: 250px; 
  position: relative;
  z-index: -1;
}

.bottomLogo{

  margin-bottom: 20px; /* Bottom margin */

  
  z-index: -1;

}